.form-popup {
    z-index: 3;
    display: none;
    padding-top: 300px;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
}
  
  .forContainer {
    margin: auto;
    background-color: #fff;
    display: block;
    position: relative;
    padding: 2rem;
    outline: 0;
    width: 600px;
    height: 250px;
    border: 1px solid;
    
}

.formMain {
    display: flex;
    flex-direction: column;
    line-height: 2.5rem;
}

.spanSign {
    cursor: pointer;
    font-size: 2rem;
    font-weight: bold;
    color: black;
    display: inline-block;
    position: absolute;
    top: 30px;
    right: 30px;
    padding: 1px 6px;
}

.spanSign:hover {
    background-color: gray;
    padding: 1px 6px;
}


.formMain h1 {
    letter-spacing: .5rem;
}

input[type="email"] {
    font-size: 1rem;
    padding: .7rem;
}

.formMain button {
    margin: 1rem 0;
    padding: .7rem;
    background-color: red;
    border-style: none;
    font-size: 1rem;
    color: white;
    cursor: pointer;
}

.formMain button:hover {
    background-color: rgb(209, 196, 196);
}

