.folowMe {
    display: flex;
    flex-direction: column;
    margin: 0 2rem 1rem 0;
}

.followMeTitle {
    background-color: black;
    color: white;
    height: 4rem;
    padding: 1rem;
    font-size: 1.5rem;
}

.followMeI {
    background-color: white;
    font-size: 2rem;
    padding: .6rem 0 0 1rem;
    height: 3.5rem;
}