main {
    display: flex;
    height: auto;
    background-color: rgb(95, 93, 93);
}

.allTitleHead {
    width:70%;
}

.advertisement {
    display: flex;
    flex-direction: column;
    width: 30%;
}